- page_title _("Dependency Proxy")

.settings-header
  %h4= _('Dependency proxy')

  %p
    - link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('user/packages/dependency_proxy/index') }
    = _('Create a local proxy for storing frequently used upstream images. %{link_start}Learn more%{link_end} about dependency proxies.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }

- if Feature.enabled?(:dependency_proxy_for_private_groups, default_enabled: true) || @group.public?
  - if @dependency_proxy.enabled
    = render 'groups/dependency_proxies/url'

- else
  .gl-alert.gl-alert-info
    .gl-alert-container
      = sprite_icon('information-o', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
      .gl-alert-content
        = _('Dependency proxy feature is limited to public groups for now.')
